/build
/download
/bin
*~
/research
/.*
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
eclipse
gradlew.bat
/libs
/game/
/lib/
/scripts/.Rhistory
/data/
deps
